@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #CFB53B;
    --black: #010103;
    --white: #FFFFFF;
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: "Roboto", sans-serif;
    /* font-family: "Playfair Display", serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

li{
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


/* HEADER ---------------------------------------------- */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3%;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;

    background: transparent;
}


.header .logo{
    width: 35rem;
    max-width: 80rem;
    min-width: 20rem;
} 
.header .logo img{
    width: 100%;
    object-fit: cover;
}

.header .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    font-size: 3rem;
    color: floralwhite;
}

.header .list{
    display: flex;
    gap: 1.8rem;
}

.header .list-item a{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: .1rem;
    font-weight: 300;
}


.header .icons, .header .navbar div:first-child {
    display: none;
}

/* SWIPER ------------------------------------------------------*/
.swiper{
    height: 100vh;
    width: 100vw; 
}

.swiper-slide{
    
    position: relative;
    overflow: hidden;
}
.swiper-slide p{
    position: absolute;
    font-size: 3rem;
    top: 12rem;
    left: 4rem;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

.swiper-slide img, .swiper-slide video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination{
    width: 1rem ;
    bottom: auto;
}

.swiper-pagination .swiper-pagination-bullet{
    width: .4rem;
    height: 1rem;
    display: block;
    border-radius: 10px;
    background: var(--white);
    opacity: 0.2;
    transition: all .3s;
}

.swiper-pagination .swiper-pagination-bullet-active{
    opacity: 1;
    background: var(--white);
    height: 3rem;
    box-shadow: 0 0 20px rgba(252,65,56,.3);
}

/* SEARCH FORM --------------------------------------------------- */
.search-form{
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 40%; */
    z-index: 1000;
}
.search-form input{
    width: 90%;
    height: 2.3rem;
    background-color: transparent;
    border: .1rem solid var(--white);
    outline: none;
    color: var(--white);
    padding: 10px;
}
.search-form input::placeholder{
    text-align: end;
    text-transform: uppercase;
    color: var(--white);
    
}











/* MEDIA QUERIES  -----------------------------------------------------*/
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

}

@media (max-width:768px) {
    
    .header .icons {
        display: inherit;
    }

    .header .navbar{
        opacity: 0;
        visibility: hidden;

        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh;
        max-height: 100vh;
        padding: 1.5rem 2rem;
        width: 100%;
        overflow-y: scroll;
        background-color: var(--white);
    }

    .header .navbar.active{
        opacity: 1;
        visibility: visible;
    }

    .header .navbar div:first-child{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 3rem;
    }

    .header .navbar .list{
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        margin-top: 5rem;
    } 

    .header .list-item a, #close-btn {
        color: var(--black);
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    } 
}